<footer>
  <div class="col">
    <h3>About M-store</h3>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel odit quia
      velit aut voluptates alias labore, a iure modi sed laborum magni totam rem
      debitis est dicta temporibus. Sed doloribus quibusdam dicta possimus!
    </p>
  </div>

  <div class="col">
    <h3>Quick Links</h3>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Account</a></li>
      <li><a href="#">Recommends</a></li>
      <li><a href="#">Contact & Help</a></li>
    </ul>
  </div>

  <div class="col">
    <h3>Contact Us</h3>
    <form class="contact-form">
      <div class="form-group">
        <input type="email" placeholder="Your Email" />
      </div>
      <div class="form-group">
        <textarea
          name="massage"
          id="massage"
          placeholder="Your Message"
        ></textarea>
      </div>
    </form>
    <div class="social-links">
      <ul>
        <li>
          <a href="#"
            ><i
              class="fa-brands fa-facebook"
              style="color: #ffffff; font-size: 25px"
            ></i
          ></a>
        </li>
        <li>
          <a href="#"
            ><i
              class="fa-brands fa-instagram"
              style="color: #ffffff; font-size: 25px"
            ></i
          ></a>
        </li>
        <li>
          <a href="#"
            ><i
              class="fa-brands fa-linkedin-in"
              style="color: #ffffff; font-size: 25px"
            ></i
          ></a>
        </li>
        <li>
          <a href="#"
            ><i
              class="fa-brands fa-twitter"
              style="color: #ffffff; font-size: 25px"
            ></i
          ></a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col">
    <h3>Download App</h3>
    <div class="images">
      <img src="images/download-with.jpg" />
    </div>
  </div>
</footer>
