<nav>
  <ul>
    <!-- <li><a routerLink="landing" routerLinkActive="active-link">Home</a></li>
    <li><a routerLink="recommends" routerLinkActive="active-link">Recommends</a></li> -->
    <li class="search-bar">
      <img src="svgs/searchengin.svg" class="search-icon">
      <input type="text" placeholder="Search for products" />
    </li>
    <ul class="nav-right">
      <li>
        <button routerLink="/register" routerLinkActive="active-btn">
          Register
        </button>
      </li>
      <li>
        <button routerLink="/login" routerLinkActive="active-btn" class="btn2">
          Login
        </button>
      </li>
      <li>
        <a routerLink="account"><img src="svgs/users/user.svg" /></a>
      </li>
    </ul>
  </ul>
</nav>
